/* HEADER */

.header {
  display: flex;
  align-items: center;
  justify-content: space-between;

  height: 80px;
  padding: 0 30px;

  background-color: white;
  border-bottom: 1px solid #e5e7eb;
}

.header {
    position: sticky;
    top: 0;
    z-index: 1000;
}

/* HEADER LEFT */

.header-left h1 {
  font-size: 22px;
  color: #111827;
}

.header-left p {
  margin-top: 4px;
  font-size: 14px;
  color: #6b7280;
}

/* HEADER RIGHT */

.header-right {
  display: flex;
  align-items: center;
  gap: 20px;
}

/* NOTIFICATION */

.notification-btn {
  display: flex;
  align-items: center;
  justify-content: center;

  padding: 5px;

  border: none;
  background: transparent;

  color: #4b5563;
}

/* USER PROFILE */

.user-profile {
  display: flex;
  align-items: center;
  gap: 10px;
}

.user-icon {
  display: flex;
  align-items: center;
  justify-content: center;

  width: 40px;
  height: 40px;

  background-color: #e5e7eb;
  border-radius: 50%;
}

.user-info {
  display: flex;
  flex-direction: column;
}

.user-name {
  font-size: 14px;
  font-weight: 600;
  color: #111827;
}

.user-role {
  margin-top: 2px;
  font-size: 12px;
  color: #6b7280;
}

/* RESPONSIVE */

@media (max-width: 768px) {
  .header {
    padding: 0 20px;
  }

  .user-info {
    display: none;
  }
}

@media (max-width: 600px) {
  .header {
    height: 70px;
    padding: 0 15px;
  }

  .header-left h1 {
    font-size: 19px;
  }

  .header-left p {
    display: none;
  }

  .header-right {
    gap: 10px;
  }
}