/* SIDEBAR */

.sidebar {
  width: 250px;
  min-height: 100vh;
  flex-shrink: 0;

  padding: 24px 16px;

  background-color: #111827;
  color: white;

  position: sticky;
  top: 0;
  align-self: flex-start;
  box-sizing: border-box;
  overflow-y: auto;
}

/* LOGO */

.logo {
  display: flex;
  align-items: center;
  gap: 8px;

  margin-bottom: 40px;
}

.logo h2 {
  padding: 8px 12px;

  background-color: #2563eb;
  border-radius: 8px;

  font-size: 24px;
  color: white;
}

.logo span {
  font-size: 18px;
  font-weight: 600;
}

/* NAVIGATION */

.nav-menu {
  display: flex;
  flex-direction: column;
  gap: 8px;
}

.nav-item {
  display: flex;
  align-items: center;
  gap: 12px;

  padding: 12px 14px;

  color: #9ca3af;
  border-radius: 8px;

  transition: 0.2s;
}

.nav-item:hover {
  background-color: #1f2937;
  color: white;
}

.nav-item.active {
  background-color: #2563eb;
  color: white;
}

/* RESPONSIVE */

@media (max-width: 768px) {
  .sidebar {
    width: 200px;
  }
}

@media (max-width: 600px) {
  .sidebar {
    width: 70px;
    padding: 20px 10px;
  }

  .logo {
    justify-content: center;
  }

  .logo span,
  .nav-item span {
    display: none;
  }

  .nav-item {
    justify-content: center;
    padding: 12px;
  }
}